extends layout

block content

  div(data-template='about')#content.content
   div.about
    .about__wrapper
      h1.about__title #{title}
        div.about__content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti enim necessitatibus exercitationem quos error aut, eaque dolor dolore quia consequatur eveniet repudiandae dicta earum? Reprehenderit quod ex omnis quo!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti enim necessitatibus exercitationem quos error aut, eaque dolor dolore quia consequatur eveniet repudiandae dicta earum? Reprehenderit quod ex omnis quo!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti enim necessitatibus exercitationem quos error aut, eaque dolor dolore quia consequatur eveniet repudiandae dicta earum? Reprehenderit quod ex omnis quo!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti enim necessitatibus exercitationem quos error aut, eaque dolor dolore quia consequatur eveniet repudiandae dicta earum? Reprehenderit quod ex omnis quo!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti enim necessitatibus exercitationem quos error aut, eaque dolor dolore quia consequatur eveniet repudiandae dicta earum? Reprehenderit quod ex omnis quo!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti enim necessitatibus exercitationem quos error aut, eaque dolor dolore quia consequatur eveniet repudiandae dicta earum? Reprehenderit quod ex omnis quo!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti enim necessitatibus exercitationem quos error aut, eaque dolor dolore quia consequatur eveniet repudiandae dicta earum? Reprehenderit quod ex omnis quo!
