extends layout

block content

  div(data-template='home')#content.content
    div.home
      .home__wrapper
        h1.home__title #{title}
        div.home__content
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti enim necessitatibus exercitationem quos error aut, eaque dolor dolore quia consequatur eveniet repudiandae dicta earum? Reprehenderit quod ex omnis quo!
            ul.products__grid
              each product in products
                li
                  img(data-src=product.image)
                  p= product.title
                  p= product.price